<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1> Home page </h1>
    <p>Hello {{content}}!</p>
    <p>{{chick}}</p>
    {% for i in range(10) %}
        {% if i%2 == 1 %}
            <p>Hello ther {{i}}</p>
        {% endif %}    
    {% endfor %}    

    <br>

    {% for x in listu %}
        <P>{{x}}</p>
    {% endfor %}


</body>
</html>


